package web

import (
	"context"

	"{{ .ProjectRepo }}/pkg/auth"
	"{{ .ProjectRepo }}/pkg/model/core"
	"github.com/volatiletech/sqlboiler/v4/boil"
)

type BasePage struct {
	ProjectName string
	Name        string
	User        *auth.UserData
}

func getBasePage(name string, userData *auth.UserData) *BasePage {
	return &BasePage{
		Name:        name,
		User:        userData,
		ProjectName: "{{ .ProjectName }}",
	}
}

func Index(c context.Context, db boil.ContextExecutor, userData *auth.UserData) *BasePage {
	return getBasePage("Super cool {{ .ProjectName }}", userData)
}

func Controls(c context.Context, db boil.ContextExecutor, userData *auth.UserData) *BasePage {
	return getBasePage("Controls", userData)
}

func Settings(c context.Context, db boil.ContextExecutor, userData *auth.UserData) *BasePage {
	return getBasePage("Settings", userData)
}
