
-- +migrate Up
CREATE TABLE system_settings (
  id uuid not null primary key,
  registration_open boolean not null
);

INSERT INTO system_settings (id, registration_open) values ('{{ uuid }}', true);

-- +migrate Down
DROP TABLE system_settings;
