{{ template "header.html" . }}

<div class="uk-container artem-suggests">
  <h1 class="uk-heading-medium uk-margin uk-margin-top">{{ .Name }}</h1>

  {{ markdown .Body }}
</div>

{{ if not .User.IsLoggedIn }}
<div class="uk-container uk-padding">
  <div class="uk-margin-top uk-grid uk-flex-center">
    <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default uk-card-body">
        <ul uk-tab>
          <li><a href="#">Sign up</a></li>
          <li><a href="#">Log in</a></li>
        </ul>
        <ul class="uk-switcher">
          <li class="uk-active">
            {{ template "form--signup.html" toMap "Attribution" .Attribution }}
          </li>
          <li>
            <h3 class="uk-card-title">Login</h3>
            {{ template "form--login.html" . }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ template "footer.html" . }}
