{{ if .FormSaved }}
  {{ template "partial--success-message.html" toMap "Message" "Password has been changed successfully" }}
{{ end }}

<form class="uk-form-stacked"
      method="POST"
      action="{{ link "form_change_password" }}"
      hx-post="{{ link "form_change_password" }}"
      hx-swap="outerHTML"
      >

  <fieldset class="uk-fieldset">
    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">Old Password</label>
      <div class="uk-form-controls">
        {{ if and .Errors (ne .Errors.old_password "") }}
        <div class="uk-text-meta uk-text-danger">{{ .Errors.old_password }}</div>
        {{ end }}
        <input class="uk-input" name="old_password" type="password" value="{{ if .Input }}{{ .Input.OldPassword }}{{ end }}" required>
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">New Password</label>
      <div class="uk-form-controls">
        {{ if and .Errors (ne .Errors.password "") }}
        <div class="uk-text-meta uk-text-danger">{{ .Errors.password }}</div>
        {{ end }}
        <input class="uk-input" name="password" type="password" value="{{ if .Input }}{{ .Input.Password }}{{ end }}" required pattern=".{8,}">
        <div class="uk-text-meta">Eight or more characters please</div>
      </div>
    </div>
  </fieldset>

  <div class="uk-margin">
    <button class="uk-button uk-button-primary">Change password</button>
  </div>
</form>
